<div class="dashboard">
	<h1 class="h1">{{title}}</h1>
	<hr>
</div>

<div class="sidebar">
	<h2>LU Overview</h2>
	<hr>
	<nav>
		<a routerlink="/dashboard" routerLinkActive="active">Dashboard</a>
		<a routerLink="/settings" routerLinkActive="active">Settings</a>
		<a routerLink="/login" routerLinkActive="active">Sign out</a>
	</nav>
	<div>
		<mat-accordion>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					Lunatic Labs
				</mat-expansion-panel-header>
				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							LU Overview
						</mat-expansion-panel-header>
						<a href="">Spencer</a>
						<a href="">Leroy</a>
						<a href="">Nikki</a>
						<a href="">Min</a>
						<a href="">Santos</a>
					</mat-expansion-panel>
				</mat-accordion>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>