<div class="dashboard">
	<h1 class="h1">{{title}}</h1>
	<p>{{test}}</p>
  <hr>
</div>
<div class="sidebar">
	<h2>LU Overview</h2>
  <hr>
		<a routerLink="/dashboard" routerLinkActive="active">
      <img class="icon" src="https://img.icons8.com/material/24/FFFFFF/dashboard-layout.png"/>Dashboard</a>
    <a routerLink="/settings" routerLinkActive="active">
      <img class="icon" src="https://img.icons8.com/material-sharp/24/FFFFFF/settings.png"/>Settings</a>
		<a routerLink="/login" routerLinkActive="active">
      <img class="icon" src="https://img.icons8.com/metro/26/FFFFFF/exit.png"/>Log out</a>
	<div>
		<mat-accordion>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					Lunatic Labs
				</mat-expansion-panel-header>
				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							LU Overview
						</mat-expansion-panel-header>
						<a href="">Spencer</a>
						<a href="">Leroy</a>
						<a href="">Nikki</a>
						<a href="">Min</a>
						<a href="">Santos</a>
					</mat-expansion-panel>
				</mat-accordion>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>

