<div class="dashboard">
	<h1 class="h1">{{title}}</h1>
	<p>{{test}}</p>
  <hr>
</div>

<div class="sidebar">
	<h2>LU Overview</h2>
  <hr>
		<a href="">Dashboard</a>
    <a href="">Settings</a>
		<a href="login/login.component.html">Sign out</a>
	<div>
		<mat-accordion>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					Lunatic Labs
				</mat-expansion-panel-header>
				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							LU Overview
						</mat-expansion-panel-header>
						<a href="">Spencer</a>
						<a href="">Leroy</a>
						<a href="">Nikki</a>
						<a href="">Min</a>
						<a href="">Santos</a>
					</mat-expansion-panel>
				</mat-accordion>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>

